<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:03</td>   <td>0</td> <td title="&gt;&gt;AvonWrapper.beforeSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1207735682</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:03</td>   <td>316</td> <td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeTest()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1207735682</td>   <td></td> </tr>
<tr bgcolor="7dc28d">  <td>20/11/08 23:01:03</td>   <td>337</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlaceAnOrderFlow.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-865831540</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:07</td>   <td>3745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-865831540</td>   <td></td> </tr>
<tr bgcolor="7dc28d">  <td>20/11/08 23:01:07</td>   <td>3745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">startAnOrder</td> 
  <td>TestNG-test=Czech-Chrome Regress suite-1@-865831540</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:25</td>   <td>21849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-865831540</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:28</td>   <td>24498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-865831540</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:28</td>   <td>24500</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1207735682</td>   <td></td> </tr>
<tr bgcolor="ccd9e2">  <td>20/11/08 23:01:28</td>   <td>24580</td> <td title="&lt;&lt;AvonWrapper.afterSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@d354a053]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1207735682</td>   <td></td> </tr>
</table>
