<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:54</td>   <td>48</td> <td title="&lt;&lt;AvonWrapper.afterSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:54</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:54</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:53</td>   <td>-190</td> <td title="&gt;&gt;AvonWrapper.beforeSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="ba7767">  <td>20/12/14 01:54:54</td>   <td>-24</td> <td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeTest()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703197033</td>   <td></td> </tr>
<tr bgcolor="beba85">  <td>20/12/14 01:54:54</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:PAO.PlaceAnOrderFlow@46ff356c]">startAnOrder</td> 
  <td>main@703197033</td>   <td></td> </tr>
</table>
