<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>E2E</td><td>PlaceAnOrderFlow.startAnOrder()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]<br/></td></tr>
<tr><td>Regression</td><td>PlaceAnOrderFlow.startAnOrder()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]<br/></td></tr>
<tr><td>SmokeTest</td><td>PlaceAnOrderFlow.startAnOrder()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]<br/></td></tr>
</table>
