<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-1178040849</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:58</td>   <td>10432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Bulgaria-Chrome Regress suite-1@1395804713</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:58</td>   <td>10537</td> <td title="&lt;&lt;AvonWrapper.afterSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:50</td>   <td>2074</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:58</td>   <td>10467</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:26:41</td>   <td>-186328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-1178040849</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:51</td>   <td>3414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Bulgaria-Chrome Regress suite-1@1395804713</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:26:38</td>   <td>-190266</td> <td title="&gt;&gt;AvonWrapper.beforeSuite()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:26:38</td>   <td>-189942</td> <td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeTest()[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:50</td>   <td>2151</td> <td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeTest()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@914847668</td>   <td></td> </tr>
<tr bgcolor="806ca4">  <td>20/12/22 22:26:38</td>   <td>-189911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlaceAnOrderFlow.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-1178040849</td>   <td></td> </tr>
<tr bgcolor="806ca4">  <td>20/12/22 22:29:50</td>   <td>2154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlaceAnOrderFlow.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Bulgaria-Chrome Regress suite-1@1395804713</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:50</td>   <td>2073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>TestNG-test=Czech-Chrome Regress suite-1@-1178040849</td>   <td></td> </tr>
<tr bgcolor="806563">  <td>20/12/22 22:29:58</td>   <td>10463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>TestNG-test=Bulgaria-Chrome Regress suite-1@1395804713</td>   <td></td> </tr>
<tr bgcolor="806ca4">  <td>20/12/22 22:26:41</td>   <td>-186328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:PAO.PlaceAnOrderFlow@c6f96f58]">startAnOrder</td> 
  <td>TestNG-test=Czech-Chrome Regress suite-1@-1178040849</td>   <td></td> </tr>
<tr bgcolor="806ca4">  <td>20/12/22 22:29:51</td>   <td>3414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:PAO.PlaceAnOrderFlow@c39f5003]">startAnOrder</td> 
  <td>TestNG-test=Bulgaria-Chrome Regress suite-1@1395804713</td>   <td></td> </tr>
</table>
