<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My_Avon_Business by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:27</td>   <td>0</td> <td title="&gt;&gt;AvonWrapper.beforeSuite()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:27</td>   <td>242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="76d188">  <td>20/09/21 02:22:27</td>   <td>242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">startAnOrder</td> 
  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:27</td>   <td>262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:27</td>   <td>270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:27</td>   <td>272</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
<tr bgcolor="987db4">  <td>20/09/21 02:22:28</td>   <td>323</td> <td title="&lt;&lt;AvonWrapper.afterSuite()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@9217feca]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2131018784</td>   <td></td> </tr>
</table>
