<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>0</td> <td title="&gt;&gt;AvonWrapper.beforeSuite()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>235</td> <td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeTest()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AvonWrapper.beforeMethod()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="6c9797">  <td>20/09/22 00:15:15</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlaceAnOrderFlow.startAnOrder()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">startAnOrder</td> 
  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterMethod()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>280</td> <td>&nbsp;</td><td title="&lt;&lt;AvonWrapper.afterTest()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
<tr bgcolor="dab6c2">  <td>20/09/22 00:15:15</td>   <td>333</td> <td title="&lt;&lt;AvonWrapper.afterSuite()[pri:0, instance:OrderPlacement.PlaceAnOrderFlow@ec04c135]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-2058332253</td>   <td></td> </tr>
</table>
